
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h1>About our news portal</h1>
    <p>Welcome to our news portal. We provide the most relevant and reliable news.</p>
    <h3>Our teams</h3>
    <h3>Topics that we cover</h3>
    <ul>
        <li>Politics</li>
        <li>Economy</li>
        <li>Sport</li>
        <li>Culture</li>
    </ul>
    <h3>Contact information</h3>
    <p>Email: news@gmail.com</p>
    <p>telephone: +87086980179</p>
    <h3>Follow us</h3>
</body>
</html>